:root{
    --primary-blue: rgba(164,91,254,1); /*#1EB4F3;*/
    --primary-black: #020024; /*#0F0F0F; */
    --primary-white: #F2F6F8;
    --primary-grey: #555;
    --primary-blue-horizontal-gradient: linear-gradient(122deg, rgba(2,0,36,1) 0%, rgba(54,153,255,1) 0%, rgba(45,128,219,1) 0%, rgba(164,91,254,1) 100%, rgba(194,250,250,1) 100%);
    --primary-blue-vertical-gradient: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(54,153,255,1) 0%, rgba(45,128,219,1) 0%, rgba(164,91,254,1) 100%, rgba(194,250,250,1) 100%);
    --primary-background: rgba(93,113,233); /* rgba(164,91,254,1); */
}

*{
    padding: 0;
    margin: 0;
	font: 1em Arial, serif;
    text-decoration: none;
    box-sizing: inherit;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

/* ======================SCROLLBAR========================= */

/* 
::-webkit-scrollbar {
    width: 6px;
	background-color: var(--primary-white);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--primary-white);
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
} */

/* ==============================ANIMATIONS======================= */

@keyframes gradient-animation{
    
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


/* ================ GLOBAL CSS ========================= */

html {
  box-sizing: border-box;
}

body{
    position: relative;
}

a{
    text-decoration: none;
    color: none;
}

button{
    outline: none;
}

.container{
    position: relative;
    display: inline-block;
    background: var(--primary-background);
    background: var(--primary-blue-horizontal-gradient);
    color: var(--primary-white);
    padding: 20px 30px;
    padding-top: 0;
    width: 100%;
    text-align: center;
    background-size: 400% 400%;
    animation: gradient-animation 4s ease-in-out 0s infinite alternate;
}

.target-btn{
    font-style: italic;
    color: var(--primary-blue);    
}

.highlight-text{
    font-weight: bold;
    font-style: italic;
}

.content-shader{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
}

.modal-window{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-btn{
    position: relative;
    display: block;
    right: 2%;
    top: 2%;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    float: right;
    margin: 5px 8px;
    cursor: pointer;
    transition: 400ms;
}

.modal-cross{
    position: absolute;
    width: 100%;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-white);
    border-radius: 20px;
    transition: 50ms;
    border: 1px solid var(--primary-blue);
}

.modal-close-btn .modal-cross:nth-child(1){
    transform: rotate(45deg);
}

.modal-close-btn .modal-cross:nth-child(2){
    transform: rotate(-45deg);
}

.modal-close-btn:hover .modal-cross{
    background: var(--primary-black);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 80%;
    padding: 10px;
    color: var(--primary-black);
    overflow-y: auto;
    background: rgba( 255, 255, 255, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.modal-content > div{
    top: 0%;
    left: 0%;
    transform: translate(0%,0%);
}



/* ===============NavBar==================== */
.nav{
    position: relative;
    display: inline-block;
    width: 100%;
}

.nav-ul{
    position: relative;
    display: block;
    float: right;
    right: 20px;
    margin: 10px 0px;
}

.nav-item{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    color: var(--primary-white);
    padding: 5px 0px;
    margin: 0px 10px;
    cursor: pointer;
    text-align: center;
}

#top-nav-btn{
    display: none;
}

.nav-target{
    color: var(--primary-white);
    height: 100%;
    width: 100%;
}

.nav-links::after{
    content: '';
    position: absolute;
    bottom: 1%;
    width: 0%;
    left: 0px;
    height: 4px;
    border-radius: 3px;
    background: var(--primary-white);
    transition: 300ms;
}

.nav-links:hover::after{
    width: 100%;
}

.home-btn{
    display: block;
    position: relative;
    height: 42px;
    width: 45px;
    float: left;
    left: 20px;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.home-btn img {
    display: inline-block;
    height: 40px;
    width: 43px;
    border: 3px solid var(--primary-black);
    padding: 2px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.home-btn img:hover {
    height: 42px;
    width: 44px;    
}

.menu-btn{
    display: none;
}


/* ===============STICKY NAV ============*/
.sticky-nav{
    position: fixed;
    bottom: 85px;
    right: 55px;
    height: fit-content;
    width: 170px;
    display: inline-block;
    transition: 100ms;
    overflow: hidden;
    z-index: 0;
}

.sticky-nav-show{
    z-index: 2;
}

.sticky-nav-item{
    position: relative;
    text-align:center;
    display:table;
    height: 35px;
    width: 150px;
    margin: 15px auto;
    transition: 200ms;
    border: 3px solid var(--primary-black);
    border-radius: 5px;
    transform: translateX(110%);
    overflow: hidden;
}

.sticky-nav-item-show{
    transform: translateX(0%);
}

.sticky-nav-target{
    font-size: 1.2rem;
    display: inline-block;
    width: 110%;
    height: 110%;
    font-weight: bold;
    display: table-cell;
    vertical-align:middle;
    background-color: var(--primary-white);
    color: var(--primary-black);
    transition: 200ms;
}

.sticky-nav-item:hover{
    transform: scale(1.1);
}

.sticky-nav-item:hover .sticky-nav-target{
    background: var(--primary-black);
    color: var(--primary-white);
}


/* ==================== STICKY MENU ===============*/
.sticky-menu-btn{
    position: fixed;
    display: inline-block;
    bottom: 25px;
    right: 55px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    transition: 200ms;
    cursor: pointer;
    border: 3px solid var(--primary-black);
    z-index: 1;
    opacity: 0;
}

.sticky-menu{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: var(--primary-black);
    height: 6px;
    border-radius: 4px;
    width: 80%;
    transition: 200ms;
}

.sticky-menu:first-child{
    transform: translateY(-120%);
}

.sticky-menu:last-child{
    transform: translateY(40%);
    width: 55%;
}

.falling-sticky-menu{
    opacity: 1;
    animation-name: sticky-menu-fall;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes sticky-menu-fall{
    0%   {transform: translateY(-1100%);}
    80%  {transform: translateY(0%);}
    95%  {transform: translateY(-110%);}
    100% {transform: translateY(0%);}
}




/* ==================Inner Cotainer==================== */
.inner{
    display: block;
    position: relative;
    background: var(--primary-white);
    color: var(--primary-grey);
    margin: 0px  auto;
    width: 100%;
    padding: 40px 0px;
    border-radius: 15px ;
    transition: 700ms;
    text-align: center;
}



/* =========================SECTION======================== */
.section{
    display: inline-block;
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 20px 10px;
    margin: 10px auto;
}

.section-head{
    position: relative;
    width: 60%;
    display: inline-block;
    margin-bottom: 15px;
    color: var(--primary-black);
}

.section-heading{
    position: relative;
    font-size: 3.5rem;
    font-weight: bold;
    display: block;
    padding: 7px;
    border: 6px solid var(--primary-black);
}

.section-sub-heading{
    position: relative;
    float: right;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2px 5px;
    border: 6px solid var(--primary-black);
    border-top: 0px;
}

.section-text{
    font-size: 0.9rem;
    width: 85%;
    margin: 20px auto;
    text-align: justify;
    color: var(--primary-black);
}



/* =========================INTRO========================== */
.intro{
    padding: 10px 5px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    grid-template-areas: 'intro-img intro-bio';
}

.intro-img{
    position: relative;
    grid-area: intro-img;
    width: 450px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
}

.intro-img img{
    position: relative;
    top: -50px;
    height: 500px;
    width: 750px;
}

.intro-bio{
    position: relative;
    grid-area: intro-bio;
    width: 550px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}

.intro-title{
    font-size: 5em;
    font-weight: bold;
    color: var(--primary-black);
}

.intro-subtext{
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-black);
}

.intro-text{
    width: 90%;
    font-size: 0.85rem;
    font-style: italic;
    margin: 30px auto;
    text-align: justify;
    color: var(--primary-black);
}

.intro-btn{
    position: relative;
    display: inline-block;
    color: var(--primary-white);
    font-size: 1rem;
    font-weight: bold;
    margin: 5px auto;
    padding: 12px 35px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    background: var(--primary-blue-horizontal-gradient);
    transition:  all .6s;
}

.intro-btn:hover {
    transform: scale(1.05);
}


/* ========================= STORY ========================== */
.story{
    height: fit-content;
}

.my-timeline{
    position: relative;
    display: block;
}

.time-stamp{
    position: relative;
    text-align:center;
    height: fit-content;
    width: 80%;
    height: 215px;
    margin: 15px auto;
    transition: 200ms;
}

.time-year{
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 50px;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid var(--primary-black);
    background: var(--primary-white);
    border-radius: 3px;
    transition: 300ms;
    overflow: hidden;
    box-sizing: border-box;
    color: var(--primary-black);
}

.activate-time-year{
    color: var(--primary-white);
    border: 3px solid var(--primary-blue-horizontal-gradient);
    background: var(--primary-blue-horizontal-gradient);
    transform: translateY(-50%) scale(1.2);
}

.time-summary{
    position: absolute;
    display: inline-block;
    font-size: 0.85rem;
    height: fit-content;
    text-align: justify;
    color: var(--primary-black);
    padding: 10px;
    width: 320px;
    top: 50%;
    opacity: 0;
    transition: 500ms;
}

.left-time-summary {
    left: 0;
    transform: translate(-50%,-50%);    /*bcz of this line of code we have to have this class */
}

.right-time-summary {
    right: 0;
    transform: translate(50%,-50%);     /*bcz of this line of code we have to have this class */
}

.activate-time-summary{
    opacity: 1;
    transform: translate(0,-50%);
}

/*========= Connecting line ===============*/
.time-connect-line{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 0px;
    /* height: 215px; */
    background: var(--primary-blue-vertical-gradient);
}

/*Approaching a new way, this section will be deleeted if tthat goes right*/
/* 
.time-connecting-line{                                                      
    display: none;                                      
    position: absolute;
    opacity: 0;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 0px;                          
    background: var(--primary-blue-vertical-gradient);
}

.activate-time-connecting-line{
    opacity: 1;
    height: 175px;
    animation-name: draw-line;
    animation-duration: 1.7s;
    animation-timing-function: linear;
}

@keyframes draw-line{
    0% {height: 0px;}
    100% {height: 175px;}                
} */


/* =========================ABOUT========================== */
.about{
    height: auto;
}

/* make scrollbar transparent */
.about-container::-webkit-scrollbar  {
    width: 0px;
    background: transparent; 
}
/* 
.about-container::-webkit-scrollbar {
    width: 1px;
	background-color: var(--primary-white);
}

.about-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    width: 2px;
	background-color: var(--primary-white);
    border-radius: 10px;
    border: 1px solid black;
}

.about-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.about-container::-webkit-scrollbar-thumb:hover {
    background: #000000;
} */


/* make scrollbar transparent */
.about-wrap::-webkit-scrollbar  {
    display: none; 
}

/* Hide scrollbar for IE, Edge and Firefox */
.about-wrap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.about_dots_container{
    position: relative;
    margin-bottom: 10px;
} 

.about_dot{
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: var(--primary-grey);
    opacity: 0.8;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
    transition: 300ms;
}

.about_dot-text{
    display: none;
}

.about_dot-hover{
    background: var(--primary-blue);
}

.about_dot-active{
    background: var(--primary-blue);
    width: 21px;
}

.about-wrap{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    cursor: grab;
}

.about-container{
    position: relative;
    height: 100%;
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 0;   /*to remove the white space*/
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    touch-action: none;
}

.about-card{
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    width: 300px;
    height: 410px;
    transition: 300ms;
    border-radius: 20px;
    font-size: 1rem;
    border: 5px solid var(--primary-black);
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    box-sizing: border-box;
}

.about-card-title{
    position: relative;
    font-size: 2.5rem;
    font-weight: bold; 
    color: var(--primary-black);
}

.about-card-content{
    position: relative;
    display: inline-block;
    margin: auto;
    width: 96%;
    height: 15%;
    border-radius: 15px;
    background: var(--primary-blue-vertical-gradient);
    transition: 1s;
    padding: 15px;
    color: var(--primary-white);
    white-space: normal;
    vertical-align: top;
}

.about-card-content-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: 0.9rem;
    opacity: 0;
    transition: 2s;
}

.about-card-content-text li{
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    list-style-type: none;
    border-bottom: 1px solid var(--primary-white);
}

.about-card-active .about-card-content{
    height: 87%;
    transition: 2s;
    background: var(--primary-blue-vertical-gradient);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease-in-out 0s infinite alternate;
}

.about-card-active .about-card-content-text{
    opacity: 1;
}



/* ================================PROJECT=============================== */

.project{
    height: auto;
}

.project-title{
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
    color: var(--primary-black);
}

.project-name{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 300ms ease;
}

.project-name-active{
    opacity: 1;
}

.project-area{
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    height: fit-content;
}

.project-details{
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    margin: auto;
    text-align: center;
}

.project-details-btn{
    background: var(--primary-white);
    border: 5px solid var(--primary-black);
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-black);
    height: 40px;
    width: 160px;
    border-radius: 20px;
    margin: 5px 10px;
    transition: 300ms;
    cursor: pointer;
}

.project-details-btn:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.project-details-btn-active{
    background-color: var(--primary-black);
    color: var(--primary-white);
    transform: scale(1.2);
}

.project-arrow{
    display: inline-block;
    position: absolute;
    top: 45%;
    margin: 0 20px;
    padding: auto;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.project-arrow img{
    height: 50px;
    width: 50px;
    transition: 300ms;
}

.project-arrow:hover img{
    transform: scale(1.2);
}

#project-arrow-left{
    left: 0;
}

#project-arrow-right{
    right: 0;
}

.project-frame{
    display: inline-block;
    position: relative;
    height: 480px;
    width: 82%;
    border: 5px solid var(--primary-black);
    margin: 20px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    touch-action: none;
}

.project-slider{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    white-space: nowrap;
    font-size: 0;           /*removes white space between inline block children*/
    transition: 700ms ease;
}

.project-slide{
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 100%;
    height: 96.5%;
    margin: 0 10px;
    border-radius: 15px;
    overflow: hidden;
}

.project-slide-active{
    opacity: 1;
}

.project-content{
    position: absolute;
    visibility: hidden;
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    white-space: normal;
}

.project-content > img {
    height: 100%;
    width: 100%;
}

.project-process-text{
    position: relative;
    font-style: 0.9rem;
    font-style: italic;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    margin: 10px 40px;
    text-align: justify;
    color: var(--primary-black);
}

.process-btn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    color: var(--primary-white);
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    height: 40px;
    width: 155px;
    /* padding: 12px 55px; */
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    background: var(--primary-blue-horizontal-gradient);
    transition:  all .3s;
    cursor: pointer;
}

.process-btn:hover{
    transform: translateY(-50%) scale(1.1);
}

.project-learnings-list{
    position: relative;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    margin: 10px 40px;
    text-align: justify;
}

.project-learnings-list li{
    margin: 10px 0px;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    color: var(--primary-black);
}

.project-content-active{
    visibility: visible;
}

.project_dots_container{
    margin: 2px 0px 5px 0px;
}

.project_dot{
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--primary-white);
    color: var(--primary-black);
    border: 2px solid var(--primary-black);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px;
    transition: 300ms;   
}

.project_dot-hover{
    background: var(--primary-blue);
    color: var(--primary-white);
    border: 2px solid var(--primary-blue);
}

.project_dot-active{
    transform: scale(1.2);
    background: var(--primary-blue);
    color: var(--primary-white);
    border: 2px solid var(--primary-blue);
}


.project-btn{
    position: relative;
    background: var(--primary-blue-horizontal-gradient);
    border: 3px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-white);
    height: 40px;
    width: 140px;
    border-radius: 20px;
    margin: 5px 10px;
    transition: 300ms;
    cursor: pointer;
    border: 3px solid var(--primary-blue-horizontal-gradient);
    overflow: hidden;
}

.project-btn:hover{
    background: var(--primary-white);
    border: 3px solid var(--primary-black);
}

.project-demo-url,.project-code-url{
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-white);
    transition: 300ms;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: none;
}


.project-demo-url-active,.project-code-url-active{
    display: block;
}

.project-btn:hover .project-demo-url{
    font-size: 1.1rem;
    color: var(--primary-black);
}

.project-btn:hover .project-code-url{
    font-size: 1.1rem;
    color: var(--primary-black);
}

.project-subtext{
    position: relative;
    width: 82%;
    margin: 5px auto;
    font-size: 0.8rem;
    text-align: center;
}



/* ===============================BLOG================================ */
.blogs{
    display: block;
    width: 85%;
    margin: 20px auto;
}

.blog-block{
    position: relative;
    display: inline-block;
    font-size: 0.85rem;
    text-align: justify;
    margin: 10px;
    width: 270px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--primary-black);
    overflow: hidden;
}

.blog-head{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 2px;
    height: 15%;
    width: 100%;
    color: var(--primary-white);
    background-color: var(--primary-black);
    text-align: center;
}

.blog-content-shader{
    position: absolute;
    display: block;
    height: 85%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.blog-read-btn{
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 60%;
    font-size: 1.2rem;
    color: var(--primary-white);
    background-color: var(--primary-black);
    text-align: center;
    border-radius: 5px;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

.blog-read-btn:hover{
    height: 42px;
    width: 63%;
    font-size: 1.4rem;
    font-weight: bold;
}

.blog-content{
    margin: 5px;
    text-align: justify;
}



/* ===============================CONTACT================================ */
.contact-area{
    display: grid;
    grid-template-areas: "form address"
                         "form map"
                         "social map"   ;
    grid-template-columns: 45% 50%;
    grid-template-rows: 15% 70% 15%;
    grid-column-gap: 5%;
    height: 500px;
    width: 90%;
    margin: 30px auto 0px auto;
    background: var(--primary-white);
    /* border: 2px solid var(--primary-black); */
}


/* =============CONTACT FORM=============== */
.contact-form{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: form;
    /* border: 1px solid var(--primary-black); */
}

.contact-mail-form{
    margin: 10px;
    padding: 0px 15px;
}

.contact-form-label{
    float: left;
    font-size: 0.8rem;
    margin: 5px 0px;
    color: var(--primary-black);
}

.contact-form-input{
    padding: 4px;
    display: block;
    font-size: 0.95rem;
    width: 100%;
    margin: 10px 0px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: none;
    border-bottom: 0.124rem solid var(--primary-background);
    outline: none;
    transition: 300ms;
}

.contact-form-input:focus{
    border-bottom: 0.124rem solid var(--primary-grey);
}

.contact-form-textarea:focus{
    border: 0.124rem solid var(--primary-grey);
}

.contact-form-textarea{
    height: 125px;
    border-radius: 4px;
    border: 0.124rem solid var(--primary-background);
}

.contact-form-btn{
    float: right;
    height: 40px;
    width: 120px;
    margin: 10px 0px;
    border: none;
    font-size: 1rem;
    color: var(--primary-white);
    background: var(--primary-blue-horizontal-gradient);
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
    outline: none;
}

.contact-form-btn:hover{
    transform: scale(1.1);
}


/* =============SOCIAL=============== */
.social-media{
    grid-area: social;
    /* border: 1px solid var(--primary-black); */
}

.socials{
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    width: fit-content;
    list-style-type: none;
}

.socials li{
    position: relative;
    display: inline-block;
    float: left;
    padding: 2px;
    margin: 0px 5px;
}

.social-link{
    position: relative;
    display: inline-block;
    width: fit-content;
}

.social-img{
    position: relative;
    float: left;
    height: 15px;
    width: 15px;
}

.social-text{
    position: relative;
    float: left;
    font-size: 0.8rem;
    color: var(--primary-grey);
    padding: 1px;
    margin: 0px 1px;
}


/* =============MAP=============== */
.map{
    grid-area: map;
    /* border: 1px solid var(--primary-black); */
}


/* =============ADDRESS=============== */
.address{
    position: relative;
    grid-area: address;
    /* border: 1px solid var(--primary-black); */
}

.address-info{
    position: relative;
    top: 50%;
    float: left;
    transform: translateY(-50%);
    height: 100%;
    display: inline-block;
    margin-right: 80px;
}

.address-img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 40px;
    width: 50px;
    padding-right: 10px;
    margin-right: 10px;
    border: none;
    border-right: 1px solid var(--primary-grey);
}

.address-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-size: 0.85rem;
    color: var(--primary-grey);
    vertical-align: top;
}

.address-text li{
    display: block;
    text-align: left;
    list-style-type: none;
}









/* ===============================RESPONSIVE======================== */


@media only screen and (max-width: 600px){
    
    html{
        box-sizing: initial;
    }

    body{
        box-sizing: border-box;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .container{
        padding: 5px 0px;
        background: var(--primary-blue-vertical-gradient);
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        background-size: 400% 400%;
        animation: gradient-animation 4s ease-in-out 0s infinite alternate;
    }


    /* =========================NavBar===================== */
    .nav{
        width: 95%;
    }

    .nav-links{
        opacity: 0%;
        transition: 2s;
    }
        
    #top-nav-btn{
        display: inline-block;
    }
    .nav-ul{
        position: absolute;
        margin: 100px auto;
        opacity: 0%;
    }
    
    .nav-ul-center{
        position: absolute;
        display: inline-block;
        opacity: 100%;
        float: none;
        text-align: center;
        align-items: center;
        top: 25vh;
        margin: 10px auto;
        height: 30vh;
        left: 0vw;
        width: 40vw;
        z-index: 1;
    }

    .nav-links-show{
        position: relative;
        margin: 18px auto;
        opacity: 100%;
        display: block;
        text-align: center;
        float: none;
        transition: 1s;
    }

    .menu-btn{
        position: relative;
        display: block;
        width: 43px;
        height: 40px;
        border: 3px solid var(--primary-black);
        border-radius: 5px;
        float: right;
        margin: 5px 8px;
        cursor: pointer;
    }
    
    .menu-btn-click{
        border: none;
    }

    .menu-btn-click .menu:nth-child(2){
        visibility: hidden;
        transition: 10ms;
    }

    .menu-btn-click .menu:nth-child(1){
        width: 115%;
        transform: rotate(44deg) translate(4px,10.5px);
    }
    
    .menu-btn-click .menu:nth-child(3){
        width: 115%;
        transform: rotate(-44deg) translate(4px,-10.5px);
    }

    .menu{
        position: relative;
        width: 90%;
        height: 6px;
        background: var(--primary-black);
        border-radius: 20px;
        margin: 11.5% 5%;
        transition: 300ms;
    }

    .home-btn{
        left: 5px;
        margin-left: 0px;
    }
    
    
    /*========= Sticky Nav =============*/
    .sticky-nav{
        display: none;
    }
    
    .sticky-menu-btn{
        display: none;
    }



    /* =======================INNER================================ */
    .inner{
        height: 92%;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 20px;
        transition: 500ms;
    }

    .inner-hidden{
        opacity: 0%;
    }


    /* =====================SECTON RESPONSIVE====================== */
    .section{
        width: 100%;
        height: auto;
        padding: 5vh 5px 15vh 5px;
        border-bottom: 2px solid var(--primary-grey);
    }
        
    .section-head{
        width: 85%;
        display: inline-block;
        margin-bottom: 5px;
    }

    .section-heading{
        font-size: 2rem;
        padding: 3px;
        border: 3.5px solid var(--primary-black);
    }

    .section-sub-heading{
        font-size: 1.1rem;
        padding: 1px 3px;
        border: 3.5px solid var(--primary-black);
        border-top: 0px;
        margin: 0 auto;
        float: none;
        display: inline-block;
    }

    .section-text{
        font-size: 0.8rem;
        width: 85%;
        margin: 10px auto 20px auto;
        text-align: justify;
    }


    /* =========================INTRO RESPONSIVE==================== */
    .intro{
        height: fit-content;
        padding: 10px;
        padding-bottom: 40px;
        margin: 0 auto;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        grid-template-rows: auto auto;
        grid-template-areas: 'intro-img' 
                            'intro-bio';
    }
    
    .intro-img{
        width: 100%;
        border-radius: 20px;
    }

    .intro img{
        left: -20px;
    }

    .intro-bio{
        width: 100%;
    }

    .intro-title{
        font-size: 3rem;
        font-weight: bold;
    }

    .intro-subtext{
        font-size: 1.5rem;
    }

    .intro-text{
        display: none;
        font-size: 0.85rem;
        width: 90%;
        margin: 30px auto;
        text-align: justify;
    }


    /*========================= STORY ===============================*/
    .story{
        padding-bottom: 5px;
    }

    .time-stamp{
        margin: 50px auto;
    }

    .time-year{
        position: relative;
        top: 0;
        display: inline-block;
        margin: 5px auto;
    }
    
    .time-summary{
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        top: 0%;
        transform: translate(0,0);
    }


    /* ===============ABOUT RESPONSIVE=============================== */
    .about_dots_container{
        margin-top: 20px;
    }

    .about-wrap{
        position: relative;
        width: 102%;
        left: -1%;
        margin: 40px auto 10px auto;
        overflow-x: hidden;
    }

    .about-container{
        margin: auto;
        height: fit-content;
    }

    .about-card{
        position: relative;
        border-radius: 15px;
        height: 300px;
        margin: auto 10px;
        border: 3px solid var(--primary-black);
        width: 200px;
        scroll-snap-align: center;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
    }

    .about-card:target{
        transform: scale(1.08);
    }

    .about-card-content{
        height: 15%;
        width: 95%;
        margin: auto;
        background: var(--primary-background);
        border-radius: 10px;
    }

    .about-card-title{
        font-size: 1.7em;
        font-weight: bold; 
    }

    .about-card-content-text{
        font-size: 0.8rem;
    }
    
    .about-card-content-text li{
        margin: 5px;
        font-size: 0.8rem;
    }

    .about-card-active .about-card-content{
        height: 87.8%;
    }


    /* ===================================PROJECTS RESPONSIVE===================== */
        
    .project-title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .project-area{
        width: 100%;
        height: auto;
        margin: 0;
    }
        
    .project-details-btn{
        border: 3px solid var(--primary-black);
        font-size: 1rem;
        height: 28px;
        width: 30%;
        border-radius: 20px;
        margin: 1px 2px;
    }
        
    .project-details-btn:hover {
        transform: scale(1.12);
    }

    .project-arrow{
        margin: 0%;
        top: 40%;
    }

    .project-arrow img{
        height: 30px;
        width: 30px;
    }

    .project-frame{
        height: 190px;
        width: 80%;
        border: 4px solid var(--primary-black);
        margin: 40px auto 10px auto;
        padding: 0;
        border-radius: 10px;
    }

    .project-slider{
        margin-top: 0;
    }
    
    .project-slide{
        height: 100%;
        border-radius: 5px;
        margin: 0;
    }

    .project-content{
        font-size: 0.8rem;
    }
    
    .project-process-text{
        font-style: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        margin: 0px 10px;
    }

    .project-learnings-list{
        width: 80%;
        margin: 0px;
    }

    .project-learnings-list li{
        margin: 5px 0px;
        font-size: 0.8rem;
    }

    .project_dots_container{
        margin: 2px 0px 10px 0px;
    }

    .project_dot{
        margin: 3px;
    }

    .project-btn{
        display: inline-block;
        height: 32px;
        width: 35%;
        margin: 2px 4px;
        transition: 300ms;
    }

    .project-subtext{
        margin-top: 20px;
        font-size: 0.75rem;
        width: 90%;
        text-align: justify;
    }


    /* ====================COONTACTS RESPONSIVE=================== */
    .contact{
        border: none;
    }
    

    .contact-mail-form{
        margin: 0px 10px;
        padding: 0px 0px;
    }

    .contact-form-label{
        font-size: 0.9rem;
    }

    .contact-form-input{
        color: var(--primary-black);
        font-size: 1.05rem;
    }


    .contact-area{
        display: grid;
        grid-template-areas: "form form" 
                             "map map"
                             "address social" ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 85%  40% 15%;
        grid-column-gap: 0px;
    }


    .address-info{
        margin: auto;
        height: 55px;
    }

    .address-img{
        height: 40px;
        width: 45px;
        padding-right: 5px;
        margin-right: 15px;
    }

    #telegram-img{
        border: none;
    }

    .address-text{
        display: none;
    }


    .social-img{
        position: relative;
        float: left;
        height: 20px;
        width: 20px;
    }
    
    .social-text{
        display: none;
    }


}




