:root{
    --primary-blue: rgba(164,91,254,1); /*#1EB4F3;*/
    --primary-black: #020024; /*#0F0F0F; */
    --primary-white: #F2F6F8;
    --primary-grey: #555;
    --primary-blue-horizontal-gradient: linear-gradient(122deg, rgba(2,0,36,1) 0%, rgba(54,153,255,1) 0%, rgba(45,128,219,1) 0%, rgba(164,91,254,1) 100%, rgba(194,250,250,1) 100%);
    --primary-blue-vertical-gradient: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(54,153,255,1) 0%, rgba(45,128,219,1) 0%, rgba(164,91,254,1) 100%, rgba(194,250,250,1) 100%);
    --primary-background: rgba(93,113,233); /* rgba(164,91,254,1); */
}

*{
    padding: 0;
    margin: 0;
	font: 1em Arial, serif;
    text-decoration: none;
    box-sizing: inherit;
}


/* ======================SCROLLBAR========================= */

/* 
::-webkit-scrollbar {
    width: 6px;
	background-color: var(--primary-white);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--primary-white);
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
} */

/* ==============================ANIMATIONS======================= */

@keyframes gradient-animation{
    
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


/* ================PAGE CSS========================= */

html {
  box-sizing: border-box;
}

body{
    position: relative;
}

a{
    text-decoration: none;
    color: none;
}

button{
    outline: none;
}

.container{
    position: relative;
    display: inline-block;
    background: var(--primary-background);
    background: var(--primary-blue-horizontal-gradient);
    color: var(--primary-white);
    padding: 20px 30px;
    padding-top: 0;
    width: 100%;
    text-align: center;
    background-size: 400% 400%;
    animation: gradient-animation 4s ease-in-out 0s infinite alternate;
}

/* ===============NavBar==================== */
.nav{
    position: relative;
    display: inline-block;
    width: 100%;
}

.nav-ul{
    position: relative;
    display: block;
    float: right;
    right: 20px;
    margin: 10px 0px;
}

.nav-item{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    color: var(--primary-white);
    padding: 5px 0px;
    margin: 0px 10px;
    cursor: pointer;
    text-align: center;
}

.nav-target{
    color: var(--primary-white);
    height: 100%;
    width: 100%;
}

.nav-links::after{
    content: '';
    position: absolute;
    bottom: 1%;
    width: 0%;
    left: 0px;
    height: 4px;
    border-radius: 3px;
    background: var(--primary-white);
    transition: 300ms;
}

.nav-links:hover::after{
    width: 100%;
}

.home-btn{
    display: block;
    position: relative;
    height: 42px;
    width: 45px;
    float: left;
    left: 20px;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.home-btn img {
    display: inline-block;
    height: 40px;
    width: 43px;
    border: 3px solid var(--primary-black);
    padding: 2px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}


.home-btn img:hover {
    height: 42px;
    width: 44px;    
}

.menu-btn{
    display: none;
}



/* ==================Inner Cotainer==================== */
.inner{
    display: block;
    position: relative;
    background: var(--primary-white);
    color: var(--primary-black);
    margin: 0px  auto;
    width: 100%;
    padding: 40px 0px;
    border-radius: 15px ;
    transition: 700ms;
    text-align: center;
}



/* =========================SECTION======================== */
.section{
    display: inline-block;
    position: relative;
    width: 90%;
    height: 80vh;
    padding: 50px 10px;
    /* border: 1px solid black; */
}



/* =========================INTRO========================== */
.intro{

}

.intro-title{
    font-size: 6.5em;
    font-weight: bold;
}

.intro-subtext{
    font-size: 3.5em;
}

.intro-text{
    font-size: 0.9rem;
    margin: 50px auto;
    text-align: justify;
}

.intro-btn{
    position: relative;
    display: inline-block;
    color: var(--primary-white);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 15px auto;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    background: var(--primary-background);
    transition:  all .6s;
}

.intro-btn:hover {
    transform: scale(1.05);
    background: var(--primary-blue);
}



/* =========================ABOUT========================== */
.about{
    height: auto;
}

/* make scrollbar transparent */
.about-container::-webkit-scrollbar  {
    width: 0px;
    background: transparent; 
}
/* 
.about-container::-webkit-scrollbar {
    width: 1px;
	background-color: var(--primary-white);
}

.about-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    width: 2px;
	background-color: var(--primary-white);
    border-radius: 10px;
    border: 1px solid black;
}

.about-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.about-container::-webkit-scrollbar-thumb:hover {
    background: #000000;
} */


/* make scrollbar transparent */
.about-wrap::-webkit-scrollbar  {
    display: none; 
}

/* Hide scrollbar for IE, Edge and Firefox */
.about-wrap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.about_dots_container{
    position: relative;
    margin-bottom: 10px;
} 

.about_dot{
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: var(--primary-grey);
    opacity: 0.8;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
    transition: 300ms;
}

.about_dot-text{
    display: none;
}

.about_dot-hover{
    background: var(--primary-blue);
}

.about_dot-active{
    background: var(--primary-blue);
    width: 21px;
}

.about-wrap{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    cursor: grab;
}

.about-container{
    position: relative;
    height: 100%;
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 0;   /*to remove the white space*/
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    touch-action: none;
}

.about-card{
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    width: 300px;
    height: 410px;
    transition: 300ms;
    border-radius: 20px;
    font-size: 1rem;
    border: 5px solid var(--primary-black);
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    box-sizing: border-box;
}

.about-card-title{
    font-size: 2.5rem;
    font-weight: bold; 
}

.about-card-content{
    position: relative;
    display: block;
    margin: auto;
    width: 96%;
    height: 15%;
    border-radius: 15px;
    background: var(--primary-blue-vertical-gradient);
    transition: 1s;
}

.about-card-active .about-card-content{
    height: 87%;
    transition: 2s;
    background: var(--primary-blue-vertical-gradient);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease-in-out 0s infinite alternate;
}




/* ================================PROJECT=============================== */

.project{
    height: auto;
}

.project-title{
    position: relative;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 80px;
}

.project-name{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 300ms ease;
}

.project-name-active{
    opacity: 1;
}

.project-area{
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    height: fit-content;
}

.project-details{
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    margin: auto;
    text-align: center;
}

.project-details-btn{
    background: var(--primary-white);
    border: 5px solid var(--primary-black);
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-black);
    height: 40px;
    width: 160px;
    border-radius: 20px;
    margin: 5px 10px;
    transition: 300ms;
    cursor: pointer;
}

.project-details-btn:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.project-details-btn-active{
    transform: scale(1.2);
}

.project-arrow{
    display: inline-block;
    position: absolute;
    top: 45%;
    margin: 0 20px;
    padding: auto;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.project-arrow img{
    height: 50px;
    width: 50px;
    transition: 300ms;
}

.project-arrow:hover img{
    transform: scale(1.2);
}

#project-arrow-left{
    left: 0;
}

#project-arrow-right{
    right: 0;
}

/* 
.project-frame{
    display: inline-block;
    position: relative;
    height: 85%;
    width: 82%;
    border: 5px solid var(--primary-black);
    margin: 20px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.project-slider{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    white-space: nowrap;
    transition: 700ms ease;
}

.project-slide{
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 100%;
    height: 96.5%;
    margin-right: 10px;
    border-radius: 15px;
    overflow: hidden;
} */


.project-frame{
    display: inline-block;
    position: relative;
    height: 480px;
    width: 82%;
    border: 5px solid var(--primary-black);
    margin: 20px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    touch-action: none;
}

.project-slider{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    white-space: nowrap;
    font-size: 0;           /*removes white space between inline block children*/
    transition: 700ms ease;
}

.project-slide{
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 100%;
    height: 96.5%;
    margin: 0 10px;
    border-radius: 15px;
    overflow: hidden;
}


/*
-- for oop project slider
.project-frame{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    cursor: grab; -- ends here 
    display: inline-block;
    position: relative;
    height: 85%;
    width: 82%;
    border: 5px solid var(--primary-black);
    margin: 20px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.project-slider{
    position: relative;
    height: 100%;
    width: fit-content;
    margin: auto;
    display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    touch-action: none; --ends here
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    white-space: nowrap;
    transition: 700ms ease;
}

.project-slide{
    position: relative;
    display: inline-block;
    margin: 0px 1%;
    width: 99%;
    height: 96.5%;
    opacity: 1;
    transition: 300ms;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid transparent;  -- add this for super ceneter
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scroll-snap-stop: always; -- end here
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 99%;
    height: 96%;
    margin: 0 0.5%;
    border-radius: 15px;
    overflow: hidden;
}

*/

.project-slide-active{
    opacity: 1;
}


.project-content{
    position: absolute;
    visibility: hidden;
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    white-space: normal;
}

.project-content > img {
    height: 100%;
    width: 100%;
}

.project-content-active{
    visibility: visible;
}

.project_dots_container{
    margin: 2px 0px 5px 0px;
}

.project_dot{
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--primary-white);
    color: var(--primary-black);
    border: 2px solid var(--primary-black);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px;
    transition: 300ms;   
}

.project_dot-hover{
    background: var(--primary-blue);
    color: var(--primary-white);
    border: 2px solid var(--primary-blue);
}

.project_dot-active{
    transform: scale(1.2);
    background: var(--primary-blue);
    color: var(--primary-white);
    border: 2px solid var(--primary-blue);
}


.project-btn{
    background: var(--primary-background);
    border: 3px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-white);
    height: 40px;
    width: 140px;
    border-radius: 20px;
    margin: 5px 10px;
    transition: 300ms;
    cursor: pointer;
}

.project-btn:hover{
    font-size: 1.1rem;
    background: var(--primary-white);
    color: var(--primary-black);
    border: 3px solid var(--primary-black);
}

.project-subtext{
    position: relative;
    width: 82%;
    margin: 5px auto;
    font-size: 0.8rem;
    text-align: center;
}



/* ===============================CONTACT================================ */
.socials{
    list-style-type: none;
    position: relative;
    margin: auto;
    width: 300px;
    top: 10%;
}

.socials li{
    margin: 10px auto;
    padding: 5px;
}

.social-link{
    display: inline-block;
    position: relative;
    padding: 2px;
    width: 160px;
}

.social-img{
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
}

.social-text{
    position: relative;
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin: 5px;
}







/* ===============================RESPONSIVE======================== */


@media only screen and (max-width: 600px){
    
    html{
        box-sizing: initial;
    }

    body{
        box-sizing: border-box;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .container{
        padding: 5px 0px;
        background: var(--primary-blue-vertical-gradient);
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        background-size: 400% 400%;
        animation: gradient-animation 4s ease-in-out 0s infinite alternate;
    }


    /* =========================NavBar===================== */
    .nav{
        width: 95%;
    }

    .nav-links{
        opacity: 0%;
        transition: 2s;
    }

    .nav-ul{
        position: absolute;
        margin: 100px auto;
        opacity: 0%;
    }
    
    .nav-ul-center{
        position: absolute;
        display: inline-block;
        opacity: 100%;
        float: none;
        text-align: center;
        align-items: center;
        top: 25vh;
        margin: 10px auto;
        height: 30vh;
        left: 0vw;
        width: 40vw;
        z-index: 1;
    }

    .nav-links-show{
        position: relative;
        margin: 20px;
        opacity: 100%;
        display: inline-block;
        text-align: center;
        float: none;
        transition: 2s;
    }

    .menu-btn{
        position: relative;
        display: block;
        width: 43px;
        height: 40px;
        border: 3px solid var(--primary-black);
        border-radius: 5px;
        float: right;
        margin: 5px 8px;
        cursor: pointer;
    }
    
    .menu-btn-click{
        border: none;
    }

    .menu-btn-click .menu:nth-child(2){
        visibility: hidden;
        transition: 10ms;
    }

    .menu-btn-click .menu:nth-child(1){
        width: 115%;
        transform: rotate(44deg) translate(4px,10.5px);
    }
    
    .menu-btn-click .menu:nth-child(3){
        width: 115%;
        transform: rotate(-44deg) translate(4px,-10.5px);
    }

    .menu{
        position: relative;
        width: 90%;
        height: 6px;
        background: var(--primary-black);
        border-radius: 20px;
        margin: 11.5% 5%;
        transition: 300ms;
    }

    .home-btn{
        left: 5px;
        margin-left: 0px;
    }
    
    

    /* =======================INNER================================ */
    .inner{
        height: 92%;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 20px;
        transition: 500ms;
    }

    .inner-hidden{
        opacity: 0%;
    }


    /* =====================SECTON RESPONSIVE====================== */
    .section{
        width: 100%;
        height: auto;
        padding: 20vh 5px;
        border-bottom: 2px solid var(--primary-grey);
    }

    /* =========================INTRO RESPONSIVE==================== */
        
    .intro-title{
        font-size: 3rem;
        font-weight: bold;
    }

    .intro-subtext{
        font-size: 1.5rem;
    }

    .intro-text{
        font-size: 0.85rem;
        width: 90%;
        margin: 30px auto;
        text-align: justify;
    }

    /* ===============ABOUT RESPONSIVE=============================== */
    .about_dots_container{
        margin-top: 20px;
    }

    .about-wrap{
        position: relative;
        width: 102%;
        left: -1%;
        margin: auto;
        overflow-x: hidden;
    }

    .about-container{
        margin: auto;
        height: fit-content;
        /* position: relative;
        padding: 0;
        touch-action: none;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory; */
    }

    .about-card{
        border-radius: 15px;
        /* top: 0; */
        height: 360px;
        margin: auto 10px;
        border: 3px solid var(--primary-black);
        /* pointer-events: none; */             /* causes click event to not work on mobile devices */
        width: 240px;
        scroll-snap-align: center;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
    }

    .about-card:target{
        transform: scale(1.08);
    }

    .about-card-content{
        height: 15%;
        width: 95%;
        margin: auto;
        background: var(--primary-background);
        border-radius: 10px;
    }

    .about-card-title{
        font-size: 2em;
        font-weight: bold; 
    }
    
    .main-card{
        position: relative;
        transform: scale(1.2);
        opacity: 100%;
        display: inline-block;
        border: 4px solid var(--primary-black);
    }

    .main-card .about-card-content{
        height: 85.5%;
        background: var(--primary-blue-vertical-gradient);
        background-size: 400% 400%;
        animation: gradient-animation 4s ease-in-out 0s infinite alternate;
    }


    /* ===================================PROJECTS RESPONSIVE===================== */
        
    .project-title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .project-area{
        width: 100%;
        height: auto;
        margin: 0;
    }
        
    .project-details-btn{
        border: 3px solid var(--primary-black);
        font-size: 1rem;
        height: 28px;
        width: 30%;
        border-radius: 20px;
        margin: 1px 2px;
    }
        
    .project-details-btn:hover {
        transform: scale(1.12);
    }

    .project-arrow{
        margin: 0%;
        top: 40%;
    }

    .project-arrow img{
        height: 30px;
        width: 30px;
    }

    .project-frame{
        height: 190px;
        width: 80%;
        border: 4px solid var(--primary-black);
        margin: 40px auto 10px auto;
        padding: 0;
        border-radius: 10px;
    }

    .project-slider{
        margin-top: 0;
    }
    
    .project-slide{
        height: 100%;
        border-radius: 5px;
        margin: 0;
    }


    .project-content{
        font-size: 0.8rem;
    }
    
    .project_dots_container{
        margin: 2px 0px 10px 0px;
    }

    .project_dot{
        margin: 3px;
    }

    .project-btn{
        display: inline-block;
        height: 32px;
        width: 35%;
        margin: 2px 4px;
        transition: 300ms;
    }

    .project-subtext{
        width: 90%;
        text-align: justify;
    }


    /* ====================COONTACTS RESPONSIVE=================== */
    .contact{
        border: none;
    }
}




